@import "tailwindcss";

/* Убирает стрелочки в Chrome, Safari, Edge */
input.no-spinner::-webkit-inner-spin-button,
input.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убирает стрелочки в Firefox */
input.no-spinner {
  -moz-appearance: textfield;
}

@theme {
  --color-accent: #0081b6;
}
