@import "tailwindcss";

/* Убирает стрелочки в Chrome, Safari, Edge */
input.no-spinner::-webkit-inner-spin-button,
input.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убирает стрелочки в Firefox */
input.no-spinner {
  -moz-appearance: textfield;
}

@theme {
  --color-accent: #0081b6;
}

@utility base-btn {
  @apply shadow-sm ring-0 select-none focus:ring-4 active:ring-4;
  @apply transition-all duration-200;
}

@utility entry-base {
  @apply focus:ring-accent/70 shadow-sm focus:ring-4 focus:outline-none;
}

.entry {
  @apply entry-base;
  @apply focus:ring-accent/70 w-full rounded-md border border-gray-300 px-3 py-2 shadow-sm focus:border-transparent focus:ring-4 focus:outline-none;
}

.btn {
  @apply base-btn;
  @apply flex w-full items-center justify-center gap-2 rounded-md px-4 py-2 shadow-sm ring-0 select-none focus:ring-4 active:ring-4;
  @apply bg-gray-100 text-gray-800 ring-gray-300 hover:bg-gray-200 active:bg-gray-200 active:ring-gray-300;
  @apply transition-all duration-200;
}
.btn.btn-lg {
  @apply py-3 text-lg;
}
.btn.btn-sm {
  @apply w-min p-1;
}
.btn.btn-accent {
  @apply bg-accent hover:bg-accent/90 active:bg-accent/90 focus:ring-accent/30 active:ring-accent/60 text-white shadow-sm;
}

.btn.btn-destructive {
  @apply bg-red-200 text-red-500 shadow-sm hover:bg-red-400 hover:text-white focus:ring-red-600/50 active:bg-red-400 active:text-white active:ring-red-600/70;
}
